
.ov-btn-grow-ellipse {
  
  color: #FFFFFF; /* color de fuente */
  border: 2px solid #FFFFFF; /* tamaño y color de borde */
  padding: 16px 45px;
  border-radius: 20px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;

  
  
}
.ov-btn-grow-ellipse:hover {
  color: #fff;/* color de fuente hover */
 
}
.ov-btn-grow-ellipse::after {
  content: "";
  background: #5AC4BA; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
  
}
.ov-btn-grow-ellipse:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}

.alinear{
    padding-top: 300px;
    text-align: center;
   
}