table {
  width: 50%;
  
}

td {
  width: 25%;
  font-size: 20px;
  
}

.titulo{
    
    text-align:center;
    padding-top: 100px;
    padding-bottom: 1px;
    font-size: 250%;

}

th{
    font-size: 30px;

}
